.section3{
    padding: 0px 80px;

    h1{
        font-weight: 800;
        font-size: 32px;
        padding-bottom: 25px;
    }

    .wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;

        picture{
            img{
                width: 462.33px;
                height: 462.33px;
                border-radius: 10px;
            }
        }

        p{
            font-weight: 700;
            font-size: 18px;
            padding: 8px 0 0;
        }
        
        blockquote{
            font-size: 14px;
        }
    }
}